<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome To JKT Digital Institute</title>
    <style>
        .container{
            color: rgb(0, 0, 0);
            background-image: url();
            text-align: center;
        }
        
        /*.admin{
            text-align: center;
            background-color: rgb(0, 145, 255);
            width: 150px;
            height: 30px;
            line-height: 30px;
            border-radius: 30px;
            margin: auto;
            margin-bottom: 30px;
        }
        
        .addmember{
            text-align: center;
            background-color: rgb(0, 145, 255);
            width: 200px;
            height: 30px;
            line-height: 30px;
            border-radius: 40px;
            margin: auto;
            padding: 10px;
            font-size: 20px;
            margin-bottom: 18px;
        }
        .para{
            text-shadow: 2px 3px 4px rgb(rgb(247, 0, 0), green, blue);
            
        }*/
        
        

    </style>
    <!-- <link rel="stylesheet" href="bootstrap.min.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="bootstrap.bundle.min.js"> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="heading"><h1>Welcome to JKT Digital Institute</h1></div>
        <div class="img"><img src="https://images-ext-2.discordapp.net/external/6B2cIu5xqGkPz2ZalhoS3SST25GSSgHQiOrGdiD8CzY/https/i.pinimg.com/originals/01/87/f3/0187f3fa3664c915822149c852318fc8.jpg?width=605&height=605" width="200px" alt=""></div>
        <div class="para"><p><strong>International Award of Digital Literacy Certificate available from abe-UK and in-person training to create job opportunities.</strong> ဒီနေ့ခေတ် အိမ်မှာပဲဖြစ်ဖြစ် အလုပ်မှာပဲဖြစ်ဖြစ် ကွန်ပျူတာ၊ အင်တာနက်၊ အီးမေးလ်၊ စမတ်ဖုန်းစတဲ့ နည်းပညာကျွမ်းကျင်မှုတွေ ရှိထားဖို့ လိုအပ်လာပါတယ်။ ပြောင်းလဲလာတဲ့ ခေတ်ရေစီးကြောင်းအရ ယခင်နဲ့ မတူတော့တဲ့ ဒစ်ဂျစ်တယ် ကျွမ်းကျင်မှုတွေကို  တောင်းဆိုနေကြပါပြီ။ 
            • အလုပ်ရှင်တွေအနေနဲ့လည်း သူတို့ကုမ္ပဏီမှာ အလုပ်ခန့်မယ့်သူတွေကို ဒီဒစ်ဂျစ်တယ် နည်းပညာတွေ ကျွမ်းကျင်တတ်မြောက်ထားမှုကို များစွာ မျှော်လင့်ထားကြပါတယ်။ ဒါကြောင့် အခြေခံ ဒစ်ဂျစ်တယ် နည်းပညာတွေ တတ်မြောက်မထားဘူးဆိုရင် ဒီနေ့ခေတ်မှာ အလုပ်ရဖို့ များစွာအခက်အခဲ ဖြစ်စေနိုင်ပါတယ်။ 
            • JKT ကဖွင့်မယ့် Digital literacy ၂ လ သင်တန်းမှာ ဒီနေ့ခေတ် ကျွန်တော်တို့ အိမ်နဲ့ရုံးအလုပ် ပတ်ဝန်းကျင်မှာ အသုံးများတဲ့ ဒစ်ဂျစ်တယ်နည်းပညာတွေကို အခြေခံကစပြီး သင်ကြားပေးမှာ ဖြစ်ပါတယ်။ သိထားတတ်ထားသင့်တဲ့ ဒစ်ဂျစ်တယ်နည်းပညာတွေကို တနေရာတည်း သင်တန်းတခုတည်းမှာ အချိန်တိုတိုနဲ့ လေ့လာခွင့်ရမှာ ဖြစ်ပါတယ်။
            • အွန်လိုင်းသင်တန်းတွေက လူအများကြီးတက်ဖို့ ပိုလွယ်ကူစေပေမယ့် သင်တန်းသားတဦးချင်းကို ကူပေးနိုင်ဖို့ရယ်၊ Instructor ရဲ့ အကူအညီမပါရင် အတွေ့အကြုံနည်းသူတွေအတွက် အခက်ခဲဖြစ်ပြီး အချိန်ပိုကုန်နိုင်တာကြောင့်ရယ် ကျွမ်းကျင်မှုကို ဦးစားပေးသင်ပြပေးရမှာဖြစ်လို့  Digital literacy သင်တန်းမှာ Instructor နဲ့ လူကိုယ်တိုင်သင်ကြားမယ့် အတန်းကို ဖွင့်တာဖြစ်ပါတယ်။ သင်တန်းသားရဲ့လိုအပ်ချက်ကို ချက်ချင်းကူညီဖြေရှင်းပေးဖို့ Instructor က အသင့်ရှိနေမှာပါ။ သင်တန်းသားအနေနဲ့ Laptop computer ယူလာဖို့လိုပါတယ်။ သင်တန်းကျောင်းမှာ အင်တာနက်နဲ့ သင်ခန်းစာ handouts ပံ့ပိုးပေးပါမယ်။
            အသေးစိတ်ကိုတော့ အောက်ပါလိပ်စာနဲ့ ဖုန်းနံပါတ်များကို ဆက်သွယ်နိုင်ပါတယ်။
            </p></div>
            <div id="demo" class="carousel slide" data-bs-ride="carousel">

                <!-- Indicators/dots -->
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                  <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                  <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                </div>
                
                <!-- The slideshow/carousel -->
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://socialsci.libretexts.org/@api/deki/files/3359/2018-UTA-Student-Success-005.jpg?revision=1" alt="Los Angeles" class="d-block" style="width:100%">
                  </div>
                  <div class="carousel-item">
                    <img src="https://www.evereducating.com/wp-content/uploads/2019/01/College-Group-Project-Students-Enjoy.jpeg" alt="Chicago" class="d-block" style="width:100%">
                  </div>
                  <div class="carousel-item">
                    <img src="https://victoria.mediaplanet.com/app/uploads/sites/143/2022/04/student-group-study-session.jpg" alt="New York" class="d-block" style="width:100%">
                  </div>
                </div>
                
                <!-- Left and right controls/icons -->
                <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                  <span class="carousel-control-next-icon"></span>
                </button>
              </div>
              
              
        
    <form action="">
        <div class="row mb-5 mt-5">
            <p class="addmember">
                <a class="btn btn-primary p-3 text-white " href="add/">Register Here</a>
            </p>
        </div>
        <div class="row mb-5 mt-5">
            <p class="admin">
                <a class="btn btn-primary p-3 text-white " href="adminpage/">For Admin</a>
            </p>
        </div>
    </form>
    
    <footer class="bg-light text-center text-white">
        <!-- Grid container -->
        
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3"  style="background-color: rgba(0, 0, 0, 0.2);">
          Website Link :
          <a class="text-black" href="https://jktmyanmarint.com/?fbclid=IwAR1iPeGhTSdG8dgK4JiR8ZS_a5CRO-ndgNmzRTDfUjywMFIp9MUCWHGCsK0">JKT Myanmar.com</a>
        </div>
        <div class="text-center p-3"  style="background-color: rgba(0, 0, 0, 0.2);">
            Facebook Link :
            <a class="text-black" href="https://www.facebook.com/jktdigital/">JKT Digital Institude</a>
          </div>
        <!-- Copyright -->
        <div class="text-center p-3"  style="background-color: rgba(0, 0, 0, 0.2);">
            အမှတ် (၈၆_ဘီ)၊ ၄လွှာ -အေ၊ ရှင်စောပုလမ်း၊ Oriental House Restaurant အပေါ်ထပ်၊မြေနီကုန်း City Mart အနီး၊ စမ်းချောင်း။ 09 770411 708, 09 456699672, 09 798340816
            <a class="text-black" href=""></a>
          </div>
      </footer>
     
    
    
</body>
</html>